:root{
    --base: #701c96;
    --textWhite: #fff;
}
.textColor{
    color: var(--textWhite);
}
.header-bg{
    background-color: var(--textWhite);
}
.bg-nav{
    background-color: var(--base);
}

.footer-bg{
    background-color: var(--base);
}
.listbox-bg{
    background-color: var(--textWhite);
}
