.article {
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1024px;
}
.article_nav {
  width: 90%;
  margin-top: 50px;
  display: flex;
  height: 50px;
  border-bottom: 2px solid #d2d2d2;
  padding: 4px;
  align-items: center;
  justify-content: space-between;
}
.article_nav_prelocation {
  border-bottom: 3px solid #701c96;
  padding: 2px;
  box-sizing: border-box;
  height: 35px;
  margin-top: 4px;
  margin-bottom: 6px;
}
.article_nav_prelocation_text {
  font-size: 20px;
}
.article_nav_location {
  display: flex;
  height: 20px;
}
.article_body {
  width: 90%;
}
.article_topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.article_topic_text {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 45px;
  font-size: 25px;
  font-weight: 700;
}
.article_topic_public {
  width: 100% !important;
  padding: 15px;
  margin-bottom: 20px;
}
.article_body_text {
  font-size: 14px;
  line-height: 30px;
}

.article_topic > div:first-child {
  width: 100%;
}
body {
  position: relative;
}
body::before {
  background-image: url("../images/lg-school.png");
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.1;
  z-index: -1;
  min-width: 1224px;
}
.container-top {
  margin-top: 25px;
}
.container-width {
  min-width: 1224px;
}
.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-img {
  width: 1260px;
  height: 300px;
}
.content-bottom-img {
  width: 1260px;
  height: 150px;
}
.content {
  display: flex;
  justify-content: center;
  width: 1260px;
  height: auto;
  margin-top: 10px;
}
.list-top {
  display: flex;
  justify-content: space-between;
}
.list-top-text {
  padding: 10px;
  font-size: 16px;
}
.msg-minWidth {
  min-width: 593px;
}
.msg-box {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
}
.listbox1 {
  height: 400px;
}
.listbox2 {
  height: 210px;
}
.margin-right {
  margin-right: 10px;
}
.padding-0 {
  padding: 0;
}
.underline {
  border: 1px solid #3866a5;
  position: absolute;
  width: 100px;
  top: 35px;
  left: -15px;
}
.title-text {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 65%;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.newsList {
  list-style-type: none;
  padding: 10px;
}
.list-img {
  padding: 10px;
}
.list-article {
  width: 70%;
}
.flex-grow {
  flex-grow: 1;
}
.text-align-end {
  text-align: end;
}
